@import './prism.css';
p,pre {
  margin: 0;
}

pre {
  padding: 10px;
  background-color: #eee;
  white-space: pre-wrap;
}

:not(pre) > code {
  font-family: monospace;
  font-size: inherit;
  background-color: rgba(0,0,0,.06);
  padding: 0 2px;
  border: 1px solid rgba(0,0,0,.08);
  border-radius: 2px 2px;
  line-height: inherit;
  word-wrap: break-word;
  word-break: break-all;
  text-indent: 0;
}

img {
  max-width: 100%;
  max-height: 20em;
}

img.active {
  box-shadow: 0 0 0 2px blue;
}

blockquote {
  border-left: 5px solid #eee;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}

blockquote[dir="rtl"] {
  border-left: none;
  padding-left: 0;
  padding-right: 10px;
  border-right: 2px solid #ddd;
}

table {
  border-collapse: collapse;
}

td {
  padding: 10px;
  border: 2px solid #ddd;
}

input {
  box-sizing: border-box;
  font-size: .85em;
  width: 100%;
  padding: .5em;
  border: 2px solid #ddd;
  background: #fafafa;
}

input:focus {
  outline: 0;
  border-color: blue;
}

/**
* App.
*/

.nav {
  padding: 10px 15px;
  color: #AAA;
  background: #000;
}

.nav-title {
  margin-right: 0.5em;
}

.nav-links {
  float: right;
}

.nav-link {
  margin-left: 1em;
  color: #AAA;
  text-decoration: none;
}

.nav-link:hover {
  color: #FFF;
  text-decoration: underline;
}

.tabs {
  padding: 15px 15px;
  background-color: #222;
  text-align: center;
  margin-bottom: 30px;
}

.tab {
  color: #777;
  display: inline-block;
  text-decoration: none;
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
  margin-bottom: 0.2em;
}

.tab:hover {
  background: #333;
}

.tab + .tab {
  margin-left: 0.5em;
}

.tab.active {
  color: white;
  background: #333;
}

/**
* Example.
*/

.example, .error {
  max-width: 42em;
  margin: 0 auto 20px;
  padding: 20px;
}

.example {
  background: #fff;
}

.error {
  background: #fffae0;
}

.error .info {
  background: #fbf1bd;
  white-space: pre;
  overflow-x: scroll;
  margin-bottom: 0;
}

.editor > * > * + * {
  margin-top: 1em;
}


.button {
  width: 50px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #ccc;
  cursor: pointer;
}
.button .iconfont {
  font-size: 36px;
}

.button[data-active="true"] {
  color: black;
}

.hover-menu .button {
  color: #aaa;
}

.hover-menu .button[data-active="true"] {
  color: #fff;
}

.emoji.selected {
  outline: 2px solid blue;
}

.check-list-item + .check-list-item {
  margin-top: 0;
}

.check-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.check-list-item.checked {
  opacity: 0.666;
  text-decoration: line-through;
}

.check-list-item > span:first-child {
  margin-right: 0.75em;
}

.check-list-item > span:last-child {
  flex: 1;
}

.check-list-item > span:last-child:focus {
  outline: none;
}

.word-counter {
  margin-top: 10px;
  padding: 12px;
  background-color: #EBEBEB;
  display: inline-block;
}



/* ---------- */
.maby-editor-toolbar-menu {
  position: relative;
  padding: 0 10px;
  margin: 0 auto;
  border-bottom: 2px solid #eee;
  margin-bottom: 20px;
}

.maby-editor-menu > * {
  display: inline-block;
}

.maby-editor-menu > * + * {
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid #ccc;
}
.maby-editor-tool-btnGroup {
  font-weight: 400;
  cursor: pointer;
}
.maby-editor-tool-btnGroup[data-active='true'] {
  font-weight: 900;
}
/* 标签 */
.maby-editor-tag {
  color: #52c41a;
  background: #f6ffed;
  border-color: #b7eb8f;
}