@import './prism.css';
p,pre {
  margin: 0;
}
span{margin:0;padding:0}
pre {
  padding: 10px;
  background-color: #eee;
  white-space: pre-wrap;
}

:not(pre) > code {
  font-family: monospace;
  font-size: inherit;
  background-color: rgba(0,0,0,.06);
  padding: 0 2px;
  border: 1px solid rgba(0,0,0,.08);
  border-radius: 2px 2px;
  line-height: inherit;
  word-wrap: break-word;
  word-break: break-all;
  text-indent: 0;
}

img {
  max-width: 100%;
}

img.active {
  box-shadow: 0 0 0 2px blue;
}

blockquote {
  border-left: 5px solid #eee;
  margin: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}

blockquote[dir="rtl"] {
  border-left: none;
  padding-left: 0;
  padding-right: 10px;
  border-right: 2px solid #ddd;
}

table {
  border-collapse: collapse;
}

td {
  padding: 10px;
  border: 1px solid #ddd;
}

input {
  box-sizing: border-box;
  font-size: .85em;
  width: 100%;
  padding: .5em;
  border: 2px solid #ddd;
  background: #fafafa;
}

input:focus {
  outline: 0;
  border-color: blue;
}

/**
* App.
*/

.nav {
  padding: 10px 15px;
  color: #AAA;
  background: #000;
}

.nav-title {
  margin-right: 0.5em;
}

.nav-links {
  float: right;
}

.nav-link {
  margin-left: 1em;
  color: #AAA;
  text-decoration: none;
}

.nav-link:hover {
  color: #FFF;
  text-decoration: underline;
}

.tabs {
  padding: 15px 15px;
  background-color: #222;
  text-align: center;
  margin-bottom: 30px;
}

.tab {
  color: #777;
  display: inline-block;
  text-decoration: none;
  padding: 0.2em 0.5em;
  border-radius: 0.2em;
  margin-bottom: 0.2em;
}

.tab:hover {
  background: #333;
}

.tab + .tab {
  margin-left: 0.5em;
}

.tab.active {
  color: white;
  background: #333;
}

/**
* Example.
*/

.example, .error {
  max-width: 42em;
  margin: 0 auto 20px;
  padding: 20px;
}

.example {
  background: #fff;
}

.error {
  background: #fffae0;
}

.error .info {
  background: #fbf1bd;
  white-space: pre;
  overflow-x: scroll;
  margin-bottom: 0;
}

.editor > * > * + * {
  margin-top: 1em;
}


.button {
  width: 50px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #ccc;
  cursor: pointer;
}
.button .iconfont {
  font-size: 36px;
}

.button[data-active="true"] {
  color: black;
}

.hover-menu .button {
  color: #aaa;
}

.hover-menu .button[data-active="true"] {
  color: #fff;
}

.emoji.selected {
  outline: 2px solid blue;
}

.check-list-item + .check-list-item {
  margin-top: 0;
}

.check-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.check-list-item.checked {
  opacity: 0.666;
  text-decoration: line-through;
}

.check-list-item > span:first-child {
  margin-right: 0.75em;
}

.check-list-item > span:last-child {
  flex: 1;
}

.check-list-item > span:last-child:focus {
  outline: none;
}

.word-counter {
  margin-top: 10px;
  padding: 12px;
  background-color: #EBEBEB;
  display: inline-block;
}



/* ---------- */
.maby-editor-toolbar-menu {
  position: relative;
  padding: 0 10px;
  margin: 0 auto;
  border-bottom: 2px solid #eee;
  margin-bottom: 20px;
}

.maby-editor-menu > * {
  display: inline-block;
}

.maby-editor-menu > * + * {
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid #ccc;
}
.maby-editor-tool-btnGroup {
  font-weight: 400;
  cursor: pointer;
}
.maby-editor-tool-btnGroup[data-active='true'] {
  font-weight: 900;
}
/* 标签 */
.maby-editor-tag {
  color: #52c41a;
  background: #f6ffed;
  border-color: #b7eb8f;
}
/* 表格 */
.maby-editor-table {
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-collapse: collapse;
}

.maby-editor-table-focus .table-tool-bar{
  opacity: 1 !important;
}

.maby-editor-table .table-content {
  border-collapse: collapse;
}
.maby-editor-table .table-td {
  min-width: 40px;
}
.maby-editor-table .table-tool-bar {
  box-sizing: border-box;
  opacity: 0;
}
.maby-editor-table .table-tool-bar .header {
  position: absolute;
  height: 24px;
  width: 24px;
  top: 0px;
  left: 0px;
  cursor: pointer;
}
.maby-editor-table .table-tool-bar .header .inner {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.maby-editor-table .table-tool-bar .header .inner .table-select {
  position: absolute;
  top: 0;
  right: 8px;
  bottom: 8px;
  height: 12px;
  width: 12px;
  background: #ededed;
  border-radius: 8px 8px;
}

.maby-editor-table .table-tool-bar .header .inner .operation-area {
  width: auto;
  height: 28px;
  position: absolute;
  border-radius: 3px 3px;
  background-color: #52c41a;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 23;
  font-size: 12px;
  color: #FFF;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease,-webkit-transform .3s ease;
  box-shadow: 0 3px 3px rgba(0,0,0,.2);
  top: -14px;
  left: 24px;
  display: inline-block;
  -webkit-transform: translateX(-6px) translateY(6px);
  -ms-transform: translateX(-6px) translateY(6px);
  transform: translateX(-6px) translateY(6px);
}

.editor-table-icon {
  line-height: 28px;
  margin-left: 10px;
  font-style: normal;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  border-bottom: 1px solid transparent;
}
.editor-table-icon:first-child {
  margin-left: 0;
}
.editor-table-icon:hover {
  border-bottom-color: #fff;
}

.maby-editor-table .table-tool-bar .header-selected .table-select-selected {
  background: #c5ebd0;
  z-index: 3;
}

.maby-editor-table .table-tool-bar .header-selected .operation-area {
  opacity: 1 !important;
  visibility: visible !important;
  -webkit-transform: translateX(0) translateY(0) !important;
  -ms-transform: translateX(0) translateY(0) !important;
  transform: translateX(0) translateY(0) !important;
}
/* 分割线 */
.maby-editor-hr {
  height: 10px;
  padding-top: 5px;
}
.maby-editor-hr .hr {
  height: 1px;
  width: 100%;
  border-bottom: 3px solid #222;
  opacity: 0.2;
}

/* 图片四边 */
.maby-editor-image-wrap {
  position: relative;
}
.maby-image-block {
  max-width: 100%;
}
.maby-image-content {
  display: inline-block;
  position: relative;
  border: 1px solid #f4f4f4;
  border-radius: 3px;
  background: #f4f4f4;
}
.maby-image-detail {

}
.maby-image-editor {
  position: relative;
  display: inline-block;
}
.maby-image-holder {
  position: absolute;
  width: 9px;
  height: 9px;
  border: 1px solid #fff;
  border-radius: 3px;
  background: #06aecc;
  display: inline-block;
  -webkit-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}
.maby-image-lt {
  left: -4px;
  top: -4px;
  cursor: nwse-resize;
}
.maby-image-rt {
  top: -4px;
  right: -4px;
  cursor: nesw-resize;
}
.maby-image-rb {
  bottom: -4px;
  right: -4px;
  cursor: nwse-resize;
}
.maby-image-lb {
  bottom: -4px;
  left: -4px;
  cursor: nesw-resize;
}
/* 超链接 */
.link {
  cursor: pointer;
}
.clearfix {
  zoom: 1;
}
.clearfix:after,
.clearfix:before
{
  display: table;
  content: '';
  line-height: 0;
}
.clearfix:after {
  clear: both;
}