html, body, :global(#root) {
  height: 100%;
	font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
}
:global {
  blockquote {
    display: block;
    border-left: 6px solid #222222;
    background: #eee;
  }
}
